@{
    ViewData["Title"] = "Home Page";
    var unswappedslot = Environment.GetEnvironmentVariable("mylunchandlearnnotswapped");
    var swappedslot = Environment.GetEnvironmentVariable("mylunchandlearnswapped");

}


<div class="text-center">
    <h1 class="display-4">Welcome Lunch and Learn - now main (4)</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2> This is my unswapped value  : @unswappedslot  </h2>
    <h2> This is my swapped value  : @swappedslot  </h2>
</div>
