<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/4981a649-7fa2-4466-aee0-346e8495b591/resourceGroups/myLunchAndLearn_group/providers/Microsoft.Web/sites/mylunchandlearn/slots/dev</ResourceId>
    <ResourceGroup>myLunchAndLearn_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mylunchandlearn-dev-f6c4b3afhvafcjfw.canadaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43a1b0d2-a29d-477c-aa8b-631803912324</ProjectGuid>
    <PublishUrl>https://mylunchandlearn-dev-f6c4b3afhvafcjfw.scm.canadaeast-01.azurewebsites.net/</PublishUrl>
    <UserName>$mylunchandlearn__dev</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>